@import './config';

.upload {

  
}

input {
  display: flex;
  padding: 1rem;
  color: $primaryText;
  font-size: 1rem;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  justify-content: center;
  justify-items: center;
  
}

.images{
  display: flex;
  margin-left:auto;
  margin-right:auto;
  justify-items: center;
  justify-content: center;
}