@import 'styles/_config.scss';

// .App {
//   color: $primaryText;
//   background-color: $primaryBackground;
// }
body {
  background-color: $primaryBackground;
  color: white;
}

.main-body {
  padding:2em
}