@import 'styles/_config.scss';

// .App {
//   color: $primaryText;
//   background-color: $primaryBackground;
// }
body {
  background-color: $primaryBackground;
  color: white;
}

.main-body {
  padding:2em;
  margin-left: 3em;
  margin-right: 3em;
}

.main-buttons {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

}

// insert media queries here
@media (max-width: 600px) {

  .main-body {
    padding:0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

}